
@{
    ViewBag.Title = "Index";
    int? idEmpresa = Request["cli_id"] != null ? Convert.ToInt32(Request["cli_id"]) : 0;
    string contrato = Request["contrato"] != null ? Request["contrato"].ToString() : "";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <input type="hidden" id="contrato" value="@contrato" />
            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        @if (idEmpresa == 0)
                        {
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cli_IdEmpresa" class="control-label mb-1">Selecione a Empresa</label>
                                    <select id="cli_IdEmpresa" name="cli_IdEmpresa" class="form-control" data-placeholder="Selecionar Empresa" tabindex="1"></select>
                                </div>
                            </div>
                        }
                        else
                        {
                            var cliente = (Portal.BE.ClienteBE)ViewData["Cliente"];
                            var servicos = (List<Portal.BE.ClienteServicosBE>)ViewData["servicos"];

                            <input type="hidden" id="cli_id" name="cli_id" value="@cliente.cli_id" />
                            <div class="col-sm-3">
                                <div class="form-cli_nomeFantasia">
                                    <label for="cli_razaoSocial" class="control-label mb-1">Nome Fantasia</label>
                                    <h4 style="margin-top: 5px;">@cliente.cli_nomeFantasia</h4>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-cli_nomeFantasia">
                                    <label for="cli_razaoSocial" class="control-label mb-1">Razão Social</label>
                                    <h4 style="margin-top: 5px;">@cliente.cli_razaoSocial</h4>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-cli_nomeFantasia">
                                    <label for="cli_razaoSocial" class="control-label mb-1">Inscrição Estadual</label>
                                    <h4 style="margin-top: 5px;">@cliente.cli_incricaoEstadual</h4>
                                </div>
                            </div>
                            if (cliente.Endereco.Count > 0)
                            {
                                <div class="col-sm-12">
                                    <div class="form-cli_nomeFantasia">
                                        <label for="cli_razaoSocial" class="control-label mb-1">Endereço</label>
                                        <h4 style="margin-top: 5px;">@cliente.Endereco[0].end_logradouro @cliente.Endereco[0].end_numero @cliente.Endereco[0].end_complemento @cliente.Endereco[0].end_bairro @cliente.Endereco[0].end_cidade / @cliente.Endereco[0].end_estado</h4>
                                    </div>
                                </div>
                            }


                            <div class="col-sm-12">
                                <hr>
                                <h5 class="text-left">Adicionar Serviço(s)</h5>
                                <hr>
                            </div>
                            <div class="col-sm-12" id="selecionarservico">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="cont_nome" class="control-label mb-1">Serviço</label>
                                            <select id="serv_Id" name="serv_Id" class="form-control" data-placeholder="Selecionar Serviço" tabindex="1"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="col-sm-12" id="dadosdoservico" style="display:none">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-cli_nomeFantasia">
                                                <label for="cli_razaoSocial" class="control-label mb-1">Serviço</label>
                                                <h4 style="margin-top: 5px;" id="serv_nome">Nome Serviço</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-cli_nomeFantasia">
                                                <label for="cli_razaoSocial" class="control-label mb-1">Descrição</label>
                                                <h4 style="margin-top: 5px;" id="serv_descricao">Descrição do Serviço</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="servCli_valor" class="control-label mb-1">Valor</label>
                                                <input id="servCli_valor" name="servCli_valor" placeholder="Valor" type="text" class="form-control obrigatorio money">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="servCli_dataAtivacao" class="control-label mb-1">Data Ativação</label>
                                                <input id="servCli_dataAtivacao" name="servCli_dataAtivacao" placeholder="Data Ativação" type="text" class="form-control formDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="servCli_cobrarPorpor" class="control-label mb-1">Cobrar Proporcional Mês</label>
                                                <select id="servCli_cobrarPorpor" name="servCli_cobrarPorpor" class="form-control obrigatorio" required>
                                                    <option value="">Selecione</option>
                                                    <option value="1">Não</option>
                                                    <option value="2">Mês Anterior</option>
                                                    <option value="3">Mês Atual</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="servCli_qtdDias" class="control-label mb-1">Qtde de Dias</label>
                                                <select id="servCli_qtdDias" disabled name="servCli_qtdDias" class="form-control obrigatorio" required>
                                                    <option value="">Selecione</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h5 style="margin-top:32px;font-size: 15px;font-weight: normal;" id="qtdeproporcional"></h5>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="serv_parcelado" class="control-label mb-1">Deseja Parcelar</label>
                                                <select id="serv_parcelado" name="serv_parcelado" class="form-control obrigatorio" required>
                                                    <option value="">Selecione</option>
                                                    <option value="1">Sim</option>
                                                    <option value="0">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="servCli_parceladoQtd" class="control-label mb-1">Qtde de Parcelar</label>
                                                <select id="servCli_parceladoQtd" disabled name="servCli_parceladoQtd" class="form-control obrigatorio" required>
                                                    <option value="">Selecione</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <h5 style="margin-top:32px;font-size: 15px;" id="qtdeparcelasvalor"></h5>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 text-left">
                                            <button type="button" id="enviarservico" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Salvar Serviço
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            if (servicos.Count > 0)
                            {
                                var proporcional = "";
                                var parcelas = "";
                                var valortotal = 0;
                                var valorproporcional = 0;
                                var valorvalorparcela = 0;
                                <div class="col-sm-12">
                                    <h5 class="text-left">Serviços Ativos</h5>
                                </div>
                                    <div class="col-sm-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Descrição</th>
                                                    <th>Porporcional</th>
                                                    <th>Parcelas</th>
                                                    <th>Valor</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in servicos)
                                                {
                                                    parcelas = item.servCli_parcelado ? "Sim" : "Não";

                                                    if (item.servCli_cobrarPorpor == 1) { proporcional = "Nâo"; } else if (item.servCli_cobrarPorpor == 2) { proporcional = "Mês Anterior"; } else { proporcional = "Mês Atual"; }
                                                    <tr>
                                                        <td>@item.servCli_nome</td>
                                                        <td>@item.servCli_descricao</td>
                                                        <td>@proporcional</td>
                                                        <td>@parcelas</td>
                                                        <td>@item.servCli_valor</td>
                                                        <td><div class="text-right" style="width:55px"><button type="button" style="padding: 0px 18px !important;" class="btn btn-danger btn-sm deletarServicocliente" id="@item.servCli_id" cliente="@item.cli_id"><i class="fa fa-trash-o"></i>&nbsp;Delete</button></div></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    jQuery(document).ready(function () {
        CarregarSelect("cli_IdEmpresa", "CarregaClientes", null,
        function () {
            jQuery("#cli_IdEmpresa").chosen({
                disable_search_threshold: 10,
                no_results_text: "Empresa não encontrada!",
                width: "100%"
            });
        });
        CarregarSelect("serv_Id", "CarregaServicos", null,
        function () {
            jQuery("#serv_Id").chosen({
                disable_search_threshold: 10,
                no_results_text: "Serviço não encontrada!",
                width: "100%"
            });
        });


        $("#cli_IdEmpresa").change(function () {
            var id = $(this).val();
            if (id != undefined && id != null && id != "") {
                window.location = "/FaturamentoAvulso/?cli_id=" + id;
            }
        });

        $("#serv_Id").change(function () {
            var id = $(this).val();
            if (id != undefined && id != null && id != "") {
                var obj = { id: id };
                EnviarRequisicao("/FaturamentoAvulso/CarregarServico", obj, "POST", function (servico) {

                    $("#serv_nome").html(servico.serv_nome);
                    $("#serv_descricao").html(servico.serv_descricao);
                    $("#servCli_valor").val('');


                    $("#servCli_cobrarPorpor ").val('');
                    $("#servCli_qtdDias ").val('');
                    $("#serv_parcelado ").val('');
                    $("#servCli_parceladoQtd ").val('');


                    $("#qtdeproporcional").html('');
                    $("#qtdeparcelasvalor").html('');

                    $("#servCli_qtdDias").prop("disabled", true);
                    $("#servCli_parceladoQtd").prop("disabled", true);

                    if (servico.serv_parcelado) {
                        $("#serv_parcelado").prop("disabled", false);
                        $("#servCli_cobrarPorpor").prop("disabled", true);
                    }
                    else {
                        $("#serv_parcelado").prop("disabled", true);
                        $("#servCli_cobrarPorpor").prop("disabled", false);
                    }

                    $("#dadosdoservico").fadeIn("slow");
                }, false);
            }
            else {
                $("#dadosdoservico").fadeOut("slow");
            }
        })

        $("#serv_parcelado").change(function () {
            if ($(this).val() == 1) {
                $("#servCli_parceladoQtd").prop("disabled", false);
            }
            else {
                $("#servCli_parceladoQtd").prop("disabled", true);
            }
        })

        $("#servCli_parceladoQtd").change(function () {
            CalcularParcelas();
        })

        $("#servCli_cobrarPorpor").change(function () {
            if ($(this).val() == "1" || $(this).val() == "") {
                $("#servCli_qtdDias").prop("disabled", true);
            }
            else {
                $("#servCli_qtdDias").prop("disabled", false);
            }
        })

        $("#servCli_qtdDias").change(function () {
            CalcularProporcional();
        })

        $("#servCli_valor").focusout(function () {
            CalcularParcelas();
            CalcularProporcional();
        });

        $("#servCli_dataAtivacao").focusout(function () {
            if (!validateDate(servCli_dataAtivacao)) {
                Alerta("Atenção", "Data inválida!", function () {
                    $("#servCli_dataAtivacao").focus();
                })
            }
        })

        $("#enviarservico").click(function () {
            var id = $("#serv_Id").val();
            var valor = $("#servCli_valor").val();
            var proporcional = $("#servCli_cobrarPorpor").val();
            var qtdDias = $("#servCli_qtdDias").val();
            var parcelado = $("#serv_parcelado").val();
            var qtdparcelado = $("#servCli_parceladoQtd").val();
            var nome = $("#serv_nome").html();
            var descricao = $("#serv_descricao").html();
            var cliente = $("#cli_id").val();
            var data = $("#servCli_dataAtivacao").val();
            var serv_id = $("#serv_Id").val();

            if (valor == undefined || valor == null || valor == "") {
                valor = "0";
            }
            if (id == undefined || id == null || id == "") {
                Alerta("Atenção", "Selecione um Serviço!");
            }
            else if ((qtdDias == undefined || qtdDias == null || qtdDias == "") && (proporcional == 2 || proporcional == 3)) {
                Alerta("Atenção", "Selecione a Quantidade de Dias Proporcional!");
            }
            else if ((qtdparcelado == undefined || qtdparcelado == null || qtdparcelado == "") && parcelado == 1) {
                Alerta("Atenção", "Selecione a Quantidade de Parcelas! ");
            }
            else {
                parcelado = parcelado.toString() == "1" ? true : false;
                valor = valor.replace(".", "");
                var obj = { cli_id: cliente, servCli_nome: nome, servCli_descricao: descricao, servCli_valor: valor, servCli_parcelado: parcelado, servCli_parceladoQtd: qtdparcelado, servCli_cobrarPorpor: proporcional, servCli_qtdDias: qtdDias, servCli_dataAtivacao: data, serv_id: serv_id, servCli_contrato: $("#contrato").val() };
                EnviarRequisicao("/FaturamentoAvulso/Insert", obj, "POST", function (contrato) {
                    window.location = "/FaturamentoAvulso/?cli_id=" + cliente + "&contrato=" + contrato.servCli_contrato;
                }, true);
            }
        })

        $(".deletarServicocliente").click(function () {
            var id = $(this).attr('id');
            var cliente = $(this).attr('cliente');
            Confirmacao("Atenção", "Tem certeza que quer remover o serviço ", function (retorno) {
                if (retorno) {
                    $.ajax({
                        url: '/Clientes/DeleteServico',
                        data: { id: id, cli_id: $("#cli_id").val() },
                        type: 'POST',
                        beforeSend: function () {
                        },
                        success: function (retornoEndereco) {
                            Alerta("Operação efetuado com sucesso", function () {
                                window.location = "/FaturamentoAvulso/?cli_id=" + $("#cli_id").val();
                            })
                        },
                        complete: function () {
                        }
                    });
                }
                else
                    Alerta('Cancelado', 'Operação cancelada', function () { });
            })
        })

    });

    function CalcularParcelas() {
        if ($("#serv_parcelado").val() == 1) {
            var parcelas = $("#servCli_parceladoQtd").val();
            if (parcelas != undefined && parcelas != null && parcelas != "" && parcelas != "0") {
                var valor = $("#servCli_valor").val().replace("R$ ", "");
                if (valor == undefined || valor == null || valor == 0) {
                    Alerta("Atenção", "Valor do Serviço Inválido!");
                }
                else {
                    valor = parseFloat(valor.replace(".", "").replace(",", "."));
                    var stgValor = parcelas.toString() + "x de R$ " + mascaraValor((valor / parseInt(parcelas)).toFixed(2));
                    $("#qtdeparcelasvalor").html(stgValor);
                }
            }
            else {
                $("#qtdeparcelasvalor").html('');
            }
        }
        else {
            $("#qtdeparcelasvalor").html('');
        }
    }

    function CalcularProporcional() {
        if ($("#servCli_cobrarPorpor").val() != "" && $("#servCli_cobrarPorpor").val() != "0") {
            var qtdeDias = $("#servCli_qtdDias").val();
            if (qtdeDias != undefined && qtdeDias != null && qtdeDias != "" && qtdeDias != "0") {
                var valor = $("#servCli_valor").val().replace("R$ ", "");
                if (valor == undefined || valor == null || valor == 0) {
                    Alerta("Atenção", "Valor do Serviço Inválido!");
                }
                else {
                    var tipoCobranca = $("#servCli_cobrarPorpor").val();
                    if (tipoCobranca == "2") {
                        var mesatual = new Date().getMonth()
                    }
                    else {
                        var mesatual = new Date().getMonth() + 1;
                    }
                    var qtdeDiasMes = numDiasMes(mesatual);
                    var valor = parseFloat(valor.replace(".", "").replace(",", "."));
                    qtdeDias = parseInt(qtdeDias);

                    if (tipoCobranca == "2") {
                        var proporcional = ((valor / qtdeDiasMes) * qtdeDias);
                        var total = proporcional + valor;
                        var proporcionalDia = (valor / qtdeDiasMes);
                    }
                    else {
                        var proporcional = (valor / qtdeDiasMes) * qtdeDias;
                        var proporcionalDia = (valor / qtdeDiasMes);
                    }


                    var stgValor = "Valor Proporcional: <b>" + mascaraValor((proporcional).toFixed(2)) + "</b>, Valor Serviço: <b>" + mascaraValor((valor).toFixed(2)) + "</b> - Total: <b>" + mascaraValor((total).toFixed(2)) + "</b>";
                    $("#qtdeproporcional").html(stgValor);
                }
            }
            else {
                $("#qtdeproporcional").html('');
            }
        }
        else {
            $("#qtdeproporcional").html('');
        }
    }

</script>