@model Portal.BE.Chamado.ChamadoBE
@{
    var idItem = ViewBag.ID;
}

<style>
    #dropArea {
        background: #b5b5b5;
        border: black dashed 1px;
        height: 150px;
        text-align: center;
        color: #fff;
        padding-top: 12px;
    }

    .active-drop {
        background: #77bafa !important;
        border: solid 2px blue !important;
        opacity: .5;
        color: black !important;
    }

    
ul.mail-list{
    padding:0;
    margin:0;
    list-style:none;
    margin-top:30px;
}
ul.mail-list li a{
    display:block;
    border-bottom:1px dotted #CFCFCF;
    padding:20px;
    text-decoration:none;
}
ul.mail-list li:last-child a{
    border-bottom:none;
}
ul.mail-list li a:hover{
    background-color:#DBF9FF;
}
ul.mail-list li span{
    display:block;
}
ul.mail-list li span.mail-sender{
    font-weight:600;
    color:#000;
}
ul.mail-list li span.mail-subject{
    color:#000;
}
ul.mail-list li span.mail-message-preview{
    display:block;
    color:#000;
}
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="" id="abrirchamado" method="post" name="enviar">
                            <input type="hidden" value="@Model.cOs_id" id="cOs_id" name="cOs_id" />
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cOs_numero" class="control-label mb-1">Numero Ticket <br /><b>@Model.cOs_numero</b></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cli_id" class="control-label mb-1">Cliente <br /><b>@Model.Cliente.cli_nomeFantasia</b></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cPr_id" class="control-label mb-1">Prioridade <br /><b>@Model.Prioridade.cPr_nome</b></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cCa_id" class="control-label mb-1">Categoria <br /><b>@Model.Categoria.cCa_nome</b></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cCa_id" class="control-label mb-1">Status <br /><b>@Model.Status.cSt_nome</b></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="cCa_id" class="control-label mb-1">Data <br /><b>@Model.cOs_data.ToString("dd/MM/yyyy HH:mm")</b></label>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="cOs_titulo" class="control-label mb-1">Titulo <br /><b>@Model.cOs_titulo</b></label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="cOsMes_mensagem" class="control-label mb-1">Mensagem</label>
                                    <textarea id="cOsMes_mensagem" rows="3" name="cOsMes_mensagem" placeholder="Mensagem" class="form-control obrigatorio"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <!--<label for="cOsAr_arquivo" class="control-label mb-1">Enviar Arquivo</label>
                                    <input id="cOsAr_arquivo" name="cOsAr_arquivo" type="file" placeholder="Enviar Arquivo" class="form-control obrigatorio" required>
                                        -->

                                    <div id="dropArea">
                                        Arraste os arquivos aqui.
                                    </div>
                                    <h4>Arquivos enviados : </h4>
                                    <ul class="list-group" id="uploadList"></ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="button" id="enviardados" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Salvar
                                </button>
                            </div>
                            <div class="col-sm-12">
                                <h3>Hisórico</h3>
                                <ul class="mail-list">
                                    @foreach (var item in Model.Mensagens.OrderByDescending(x => x.cOsMes_data))
                                    {
                                        <li>
                                            <a href="">
                                                <span class="mail-sender text-right"><b>Data:</b> @item.cOsMes_data.ToString("dd/MM/yyyy HH:mm")</span>
                                                <span class="mail-message-preview"><b>Mensagem: </b> @item.cOsMes_mensagem</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/js/fileDrop.js")"></script>
<script>

    var selectedFiles = [];;


    $(function () {
        CarregarSelect("cli_id", "CarregaClientes", null,
        function () {
            jQuery("#cli_id").chosen({
                disable_search_threshold: 10,
                no_results_text: "Cliente não encontrada!",
                width: "100%"
            });
        });
        CarregarSelect("cCa_id", "CarregaChamadoCategoria");
        CarregarSelect("cPr_id", "CarregaChamadoPrioridade");

        $('#enviardados').click(function () {
            var obj = { objArquivo: selectedFiles.join(','), cOs_id: $("#cOs_id").val(), cOsMes_mensagem: $("#cOsMes_mensagem").val() };
            $.ajax({
                type: "POST",
                url: "/Chamado/Ticket/InserirMensagem",
                data: obj,
                data: obj,
                success: function (result) {
                    alert(result);
                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
            return false;
        });

        $('#dropArea').filedrop({
            url: '@Url.Action("UploadFiles")',
            allowedfiletypes: ['image/jpeg', 'image/png', 'image/gif'],
            allowedfileextensions: ['.jpg', '.jpeg', '.png', '.gif'],
            paramname: 'files',
            maxfiles: 15,
            maxfilesize: 5, // in MB
            dragOver: function () {
                $('#dropArea').addClass('active-drop');
            },
            dragLeave: function () {
                $('#dropArea').removeClass('active-drop');
            },
            drop: function () {
                $('#dropArea').removeClass('active-drop');
            },
            afterAll: function (e) {
                $('#dropArea').html('Arquivo Enviado com Sucesso!');
            },
            uploadFinished: function (i, file, response, time) {
                $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>');
                selectedFiles.push(response);
            }
        })
    })
</script>