@{ 
    string teste = Request.Url.LocalPath;
    string classActive = "";
}
<!-- Mobile Menu start -->


<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li>
                                <a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="index.html">Dashboard One</a></li>
                                    <li><a href="index-2.html">Dashboard Two</a></li>
                                    <li><a href="index-3.html">Dashboard Three</a></li>
                                    <li><a href="index-4.html">Dashboard Four</a></li>
                                    <li><a href="analytics.html">Analytics</a></li>
                                    <li><a href="widgets.html">Widgets</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#demoevent" href="#">Email</a>
                                <ul id="demoevent" class="collapse dropdown-header-top">
                                    <li><a href="inbox.html">Inbox</a></li>
                                    <li><a href="view-email.html">View Email</a></li>
                                    <li><a href="compose-email.html">Compose Email</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#democrou" href="#">Interface</a>
                                <ul id="democrou" class="collapse dropdown-header-top">
                                    <li><a href="animations.html">Animations</a></li>
                                    <li><a href="google-map.html">Google Map</a></li>
                                    <li><a href="data-map.html">Data Maps</a></li>
                                    <li><a href="code-editor.html">Code Editor</a></li>
                                    <li><a href="image-cropper.html">Images Cropper</a></li>
                                    <li><a href="wizard.html">Wizard</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#demolibra" href="#">Charts</a>
                                <ul id="demolibra" class="collapse dropdown-header-top">
                                    <li><a href="flot-charts.html">Flot Charts</a></li>
                                    <li><a href="bar-charts.html">Bar Charts</a></li>
                                    <li><a href="line-charts.html">Line Charts</a></li>
                                    <li><a href="area-charts.html">Area Charts</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>
                                <ul id="demodepart" class="collapse dropdown-header-top">
                                    <li><a href="normal-table.html">Normal Table</a></li>
                                    <li><a href="data-table.html">Data Table</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a href="form-elements.html">Form Elements</a></li>
                                    <li><a href="form-components.html">Form Components</a></li>
                                    <li><a href="form-examples.html">Form Examples</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">App views</a>
                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                    <li>
                                        <a href="notification.html">Notifications</a>
                                    </li>
                                    <li>
                                        <a href="alert.html">Alerts</a>
                                    </li>
                                    <li>
                                        <a href="modals.html">Modals</a>
                                    </li>
                                    <li>
                                        <a href="buttons.html">Buttons</a>
                                    </li>
                                    <li>
                                        <a href="tabs.html">Tabs</a>
                                    </li>
                                    <li>
                                        <a href="accordion.html">Accordion</a>
                                    </li>
                                    <li>
                                        <a href="dialog.html">Dialogs</a>
                                    </li>
                                    <li>
                                        <a href="popovers.html">Popovers</a>
                                    </li>
                                    <li>
                                        <a href="tooltips.html">Tooltips</a>
                                    </li>
                                    <li>
                                        <a href="dropdown.html">Dropdowns</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#Pagemob" href="#">Pages</a>
                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                    <li>
                                        <a href="invoice.html">Invoice</a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li>
                                        <a href="color.html">Color</a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">Login Register</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404 Page</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area topo-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    @{classActive = Request.Url.LocalPath.Equals("/") ? "active" : "";}
                    <li class="@classActive">
                        <a href="@Url.Content("~/")"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    @{classActive = Request.Url.LocalPath.Contains("/Clientes") ? "active" : "";}
                    <li class="@classActive">
                        <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-mail"></i> Clientes</a>
                    </li>
                    @{classActive = Request.Url.LocalPath.Contains("/Usuarios") ? "active" : "";}
                    <li class="@classActive">
                        <a href="@Url.Content("~/Usuarios")"><i class="notika-icon notika-edit"></i> Usuários</a>
                    </li>
                    @{classActive = Request.Url.LocalPath.Contains("/SCM/Home") ? "active" : "";}
                    <li class="@classActive">
                        <a data-toggle="tab" href="#Servicos"><i class="notika-icon notika-edit"></i> Serviços</a>
                    </li>

                    @{classActive = Request.Url.LocalPath.Contains("/HelperSistema/Home") ? "active" : "";}
                    <li class="@classActive">
                        <a href="@Url.Content("~/HelpersSistema/Home")"><i class="notika-icon notika-app"></i> Helper</a>
                    </li>
                  
                    @{classActive = Request.Url.LocalPath.Contains("/Configuracoes") ? "active" : "";}
                    <li class="@classActive">
                        <a href="@Url.Content("~/Configuracao")"><i class="notika-icon notika-app"></i> Configurações</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="clientes" class="tab-pane in notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-support"></i> Lista</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Clientes/Insert")"><i class="notika-icon notika-support"></i> Cadastrar</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Servicos" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="@Url.Content("/SCM/Home")"><i class="notika-icon notika-support"></i> Contratos</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/SCM/Servicos")"><i class="notika-icon notika-support"></i> Serviços</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/SCM/Faturamento")"><i class="notika-icon notika-support"></i> Faturamento</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/NFENotasFiscais/Home")"><i class="notika-icon notika-support"></i> Notas Emitidas</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/NFENotasFiscais/Lotes")"><i class="notika-icon notika-support"></i> Lotes</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/SCM/Relatorios")"><i class="notika-icon notika-support"></i> Relatórios</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/NFENotasFiscais/Boleto")"><i class="notika-icon notika-support"></i> Conf. Boleto</a>
                            </li>
                        </ul>
                    </div>
                    <div id="produtos" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-support"></i> Lista</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-support"></i> Cadastrar</a>
                            </li>
                        </ul>
                    </div>
                    <div id="mala" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-support"></i> Lista</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Clientes")"><i class="notika-icon notika-support"></i> Cadastrar</a>
                            </li>
                        </ul>
                    </div>
                    <div id="helpers" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="@Url.Content("~/HelpersSistema/Home")"><i class="notika-icon notika-support"></i> Criar Procedures</a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/HelpersSistema/Trigger")"><i class="notika-icon notika-support"></i> Criar Trigger</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->