<div class="notika-email-post-area">
    <div class="recent-signup-inner notika-shadow mg-t-30">
        <div class="widget-signup-list">
                        
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="MODULOS" href="@Url.Content("~/ConfiguracaoModulos")" style="height: 120px;width: 120px;line-height: 121px;font-size: 16px;">MODULOS</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="PERFIL" href="@Url.Content("~/Perfil")" style="height: 120px;width: 120px;line-height: 121px;font-size: 16px;">PERFIL</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="EMPRESAS" href="@Url.Content("~/Empresa")" style="height: 120px;width: 120px;line-height: 121px;font-size: 16px;">EMPRESAS</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="TIPO VENCIMENTO" href="@Url.Content("~/ConfiguracaoItens?tipo=TPVenc")" style="height: 120px;width: 120px;line-height: 121px;font-size: 12px;">TIPO VENCIMENTO</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="TIPO VENCIMENTO" href="@Url.Content("~/ConfiguracaoItens?tipo=IBGE")" style="height: 120px;width: 120px;line-height: 121px;font-size: 12px;">CÓDIGO IBGE</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="TIPO VENCIMENTO" href="@Url.Content("~/ConfiguracaoItens?tipo=CFOP")" style="height: 120px;width: 120px;line-height: 121px;font-size: 12px;">CFOP</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="TIPO VENCIMENTO" href="@Url.Content("~/ConfiguracaoItens?tipo=TIPEND")" style="height: 120px;width: 120px;line-height: 121px;font-size: 12px;">TIPO ENDEREÇO</a>
            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="TIPO VENCIMENTO" href="@Url.Content("~/ConfiguracaoItens?tipo=INSTBOL")" style="height: 120px;width: 120px;line-height: 121px;font-size: 12px;">INSTRUÇÃO BOLETO</a>
                        
        </div>
    </div>
</div>
