@model List<Portal.BE.ServicosBE>

@{
    var permissao = (Portal.BE.PermissaoBE)Session[Portal.Helper.Globais.SessionSistemaPermissao];
    var page = (from x in permissao.Paginas where x.permPag_url.Equals("/Servicos") select x).FirstOrDefault<Portal.BE.PermissaoPaginaBE>();
    string parcelado = "";
    int i = 0;
    string cor = "";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Parcelado</th>
            <th width="50px"></th>
            <th width="50px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (i % 2 == 0) { cor = "background-color: rgba(0,0,0,.05);"; } else { cor = ""; }
            if (item.serv_parcelado) { parcelado = "Sim"; } else { parcelado = "Não"; }
            <tr  data-toggle="collapse" class="accordion-toggle clickable-row" href='#@i' style="@cor">
                <td>@item.serv_nome</td>
                <td>@parcelado</td>
                <td><a href="@Url.Content("~/Servicos/Update/" + item.serv_id)" style="padding: 0px 18px !important;" class="btn btn-info btn-sm" name="@item.serv_descricao" id="@item.serv_id"><i class="fa fa-refresh"></i>&nbsp;Alterar</a></td>
                <td><button type="button" style="padding: 0px 18px !important;" class="btn btn-danger btn-sm deletarservico" name="@item.serv_descricao" id="@item.serv_id"><i class="fa fa-trash-o"></i>&nbsp;Delete</button></td>
            </tr>
            <tr>
                <td colspan="6" style="padding:0px">
                    <div id="@i" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th colspan="2" width="110px" style="text-align:right"><a href="javascript:" style="padding: 0px 18px !important;" class="btn btn-success btn-sm btnadicionaritem " name="@item.serv_descricao" id="@item.serv_id"><i class="fa fa-share"></i>&nbsp;Novo</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var items in item.SubMenu)
                                    {
                                        <tr>
                                            <td>@items.serv_nome</td>
                                            <td>@items.serv_descricao</td>
                                            <td width="50px"><a href="javascript:" style="padding: 0px 18px !important;" class="btn btn-info btn-sm alteraritem" name="@items.serv_nome" idservico="@items.serv_idsub" descricao="@items.serv_descricao" id="@items.serv_id"><i class="fa fa-refresh"></i>&nbsp;Alterar</a></td>
                                            <td width="50px"><a href="javascript:" style="padding: 0px 18px !important;" class="btn btn-danger btn-sm deletarservicoitem" name="@items.serv_descricao" id="@items.serv_id"><i class="fa fa-trash-o"></i>&nbsp;Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>


            i++;
        }
    </tbody>
</table>


<script>
    $(function () {
        $(".deletarservico").click(function () {
            var id = $(this).attr('id');
            var name = $(this).attr('name');
            Confirmacao("Atenção", "Tem certeza que quer remover o cliente " + name, function (retorno) {
                if (retorno) {
                    $.ajax({
                        url: '/Servicos/Delete',
                        data: { id: id },
                        type: 'POST',
                        beforeSend: function () {
                        },
                        success: function (retornoEndereco) {
                            Alerta("Delete efetuado com sucesso", function () {
                                $("#page-loader").fadeIn("slow");
                                setTimeout(function () {
                                    $("#viewPlaceHolder").load("/servicos/CarregaListaUsuario?", function () { Paginacao(); });
                                }, 1000);

                            })
                        },
                        complete: function () {
                        }
                    });
                }
            })
        })

        $(".alteraritem").click(function () {
            debugger
            var id = $(this).attr('id');
            var idservico = $(this).attr('idservico');
            var nome = $(this).attr('name');
            var descricao = $(this).attr('descricao');

            AbrirTelaInsert($('#servicositems option:selected').text(), nome, descricao, id, idservico);
        })

        $(".btnadicionaritem").click(function () {
            var id = $(this).attr('id');
            var nome = $(this).attr('name');
            AbrirTelaInsert(nome, "", "", 0, id);
        })

        $(".deletarservicoitem").click(function () {
            var id = $(this).attr('id');
            var name = $(this).attr('name');
            Confirmacao("Atenção", "Tem certeza que quer remover o cliente " + name, function (retorno) {
                if (retorno) {
                    $.ajax({
                        url: '/Servicos/DeletarItem',
                        data: { id: id },
                        type: 'POST',
                        beforeSend: function () {
                        },
                        success: function (retornoEndereco) {
                            window.location = "/Servicos";
                        },
                        complete: function () {
                        }
                    });
                }
            })
        })
    })
    function AbrirTelaInsert(titulo, nome, descricao, id, idservico) {
        $.confirm({
            title: titulo,
            content: '' +
            '<form action="" class="formName">' +
            '<div class="form-group">' +
            '<label>Nome</label>' +
            '<input type="text" placeholder="Valor do Parametro" value="' + nome + '" id="configuracaovalor" class="valor form-control" required />' +
            '</div>' +
            '<div class="form-group">' +
            '<label>Descrição</label>' +
            '<input type="text" placeholder="Descrição do Parametro" value="' + descricao + '" id="configuracaodescricao" class="descricao form-control" required />' +
            '</div>' +
            '</form>',
            buttons: {
                formSubmit: {
                    text: 'Enviar',
                    btnClass: 'btn-blue',
                    action: function () {
                        var valor = this.$content.find('.valor').val();
                        var descricao = this.$content.find('.descricao').val();
                        if (!valor) {
                            $.alert('Campo valor obrigatório');
                            return false;
                        }
                        else if (!descricao) {
                            $.alert('Campo Descrição obrigatório');
                            return false;
                        }
                        $.ajax({
                            url: '/Servicos/AdicionarItem',
                            data: { serv_nome: $("#configuracaovalor").val(), serv_descricao: $("#configuracaodescricao").val(), serv_parcelado: 0, serv_idsub: idservico, serv_id: id },
                            type: 'POST',
                            beforeSend: function () {
                            },
                            success: function (retornoEndereco) {
                                Alerta("Alteração efetuado com sucesso", function () {
                                    window.location = "/Servicos/?id=" + $("#servicositems").val();
                                })
                            },
                            complete: function () {
                            }
                        });
                    }
                },
                Cancelar: function () {
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    }
</script>
