@model List<Portal.BE.NotasClientesEmitidasMes>

@{ 
    var i = 0;
    var cor = "";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th><input type="checkbox" id="todos" onclick="marcardesmarcar();" checked="checked" /></th>
            <th>Nº Nota</th>
            <th>Nome Fantasia</th>
            <th>Dt Emissão</th>
            <th>Dt Venc.</th>
            <th style="width: 100px; text-align: right">Valor Bruto.</th>
            <th style="width: 100px; text-align: right">Valor Liq.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                if (i % 2 == 0) { cor = "background-color: rgba(0,0,0,.05);"; } else { cor = ""; }
                <tr class="accordion-toggle" style="@cor" data-toggle="collapse" data-href="#@i">
                    <td width="20px"><input type="checkbox" id="@item.not_id" class="itemselecionados" checked="checked" /></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_numero.ToString().PadLeft(6, '0')</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.cli_nomeFantasia</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_dtEmissao.ToString("dd/MM/yyyy")</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_dtVencimento.ToString("dd/MM/yyyy")</a></td>
                    <td class="text-right">R$ @string.Format("{0:0,0.00}", item.not_totalbruto) </td>
                    <td class="text-right">R$ @string.Format("{0:0,0.00}", item.not_totalliquido) </td>
                </tr>
            i++;
        }
        @*<tr>
            <td colspan="3" class="text-right"><b>Total: </b></td>
            <td class="text-right">R$ @string.Format("{0:0,0.00}", total) </td>
        </tr>*@
    </tbody>
</table>

<script>
    //$(function(){
    function marcardesmarcar() {
        var check = $("#todos").prop("checked");
        $(".itemselecionados").each(function () {
            //if ($(this).prop("checked")) {
            $(this).prop("checked", check);
            //}
            //else {
            //    $(this).prop("checked", true);
            //}
        });
    }
   // })
</script>