@model List<Portal.BE.NotasClientesEmitidasMes>

@{ 
    var i = 0;
    var cor = "";
    var link = "";
    decimal totalbruto = 0;
    decimal totalliquido = 0;

    decimal pis = 0;
    decimal confis = 0;
    decimal cssl = 0;
    decimal irrf = 0;

    var empresa = (Portal.BE.EmpresaBE)ViewBag.Empresa;
}

@if (((from x in Model where x.not_preenchida.Equals(false) select x).Count()) == 0)
{
    // <script>$(function(){$("#botaocancelarnotas").hide()})</script>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th><input type="checkbox" id="todos" onclick="marcardesmarcar();" checked="checked" /></th>
            <th>Nº Nota</th>
            <th>Nome Fantasia</th>
            <th>Dt Emissão</th>
            <th>Dt Venc.</th>
            @if (empresa.confCom_calcularTributos)
            {
                <th style="width: 90px; text-align: right">Pis</th>
                <th style="width: 90px; text-align: right">Confins</th>
                <th style="width: 90px; text-align: right">Cssl</th>
                <th style="width: 90px; text-align: right">Irrf</th>
            }
            <th style="width: 100px; text-align: right">Valor Bruto.</th>
            <th style="width: 100px; text-align: right">Valor Liq.</th>
            @if (empresa.confCom_nota)
            {
                <th style="width: 60px">Nota</th>
            }
            @if (empresa.confCom_boleto)
            {
            <th style="width: 60px">Boleto</th>
            }
            <th style="width: 60px">Status</th>
            <th style="width: 60px">Email</th>
            <th style="width: 60px">Cancelar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (i % 2 == 0) { cor = "background-color: rgba(0,0,0,.05);"; } else { cor = ""; }
                <tr class="accordion-toggle" style="@cor" data-toggle="collapse" data-href="#@i">
                    <td width="20px"><input type="checkbox" id="@item.not_id" class="itemselecionados" checked="checked" /></td> 
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_numero.ToString().PadLeft(6, '0')</a></td>
                    <td text><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.cli_nomeFantasia</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_dtEmissao.ToString("dd/MM/yyyy")</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.not_dtVencimento.ToString("dd/MM/yyyy")</a></td>
                    @if (empresa.confCom_calcularTributos)
                    {
                        <td style="width: 60px; text-align: right">R$ @string.Format("{0:0,0.00}", item.not_pis)</td>
                        <td style="width: 60px; text-align: right">R$ @string.Format("{0:0,0.00}", item.not_confins)</td>
                        <td style="width: 60px; text-align: right">R$ @string.Format("{0:0,0.00}", item.not_cssl)</td>
                        <td style="width: 60px; text-align: right">R$ @string.Format("{0:0,0.00}", item.not_irrf)</td>

                        pis += item.not_pis;
                        confis += item.not_confins;
                        cssl += item.not_cssl;
                        irrf += item.not_irrf;
                    }
                    <td class="text-right">R$ @string.Format("{0:0,0.00}", item.not_totalbruto) </td>
                    <td class="text-right">R$ @string.Format("{0:0,0.00}", item.not_totalliquido) </td>
                    @if (empresa.confCom_nota)
                    {
                        link = item.not_linkNota == "" ? "" : "<a target='_blank' href='/Notas_Fiscais/" + item.not_dtEmissao.Year.ToString() + "/" + item.not_dtEmissao.Month.ToString() + "/Notas/" + item.not_id.ToString() + ".pdf'> <i class='fa fa-file-text' aria-hidden='true'></i> Nota </a>";
                        <td class="text-center">@Html.Raw(link)</td>
                    }

                    @if (empresa.confCom_boleto)
                    {
                        link = item.not_linkBoleto == "" ? "" : "<a target='_blank' href='/Notas_Fiscais/" + item.not_dtEmissao.Year.ToString() + "/" + item.not_dtEmissao.Month.ToString() + "/Boletos/" + item.not_id.ToString() + ".pdf'> <i class='fa fa-file-pdf-o' aria-hidden='true'></i> Boleto </a>";
                        <td class="text-center">@Html.Raw(link)</td>
                    }
                    @if(item.not_statusPagamento == "LIQ" || item.not_statusPagamento == "BAX")
                    {
                        <td>
                            <a href="javascript:" class="detalhespagamento" id="@item.not_numero" data-toggle="modal" data-target="#contact" data-original-title><img src="@Url.Content("~/images/icone_pag/pago.png")" alt="Pago" title="Pago" style="width: 25px;"/></a>
                        </td>
                    }
                    else if (item.not_dtVencimento > DateTime.Now)
                    {
                        <td>
                            <a href="javascript:" class="detalhespagamento" id="@item.not_numero" data-toggle="modal" data-target="#contact" data-original-title><img src="@Url.Content("~/images/icone_pag/pendente.png")" alt="Pendente" title="Pendente" style="width: 25px;"/></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="javascript:" class="detalhespagamento"><img src="@Url.Content("~/images/icone_pag/atrasado.png")" alt="Atrasado" title="Atrasado" style="width: 25px;"/></a>
                        </td>
                    }
                    @if (item.not_preenchida == 1)
                    {
                        <td>
                            <a href="javascript:" class="detalhespagamento text-center"><img src="@Url.Content("~/images/icone_pag/emailenviado.png")" alt="Email Enviado" title="Email Enviado" style="width: 25px;" /> </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="javascript:" class="detalhespagamento text-center"><img src="@Url.Content("~/images/icone_pag/emailpendente.png")" alt="Email Não Enviado" title="Email Não Enviado" style="width: 25px;" /></a>
                        </td>
                    }
                    <td>
                        <a href="javascript:" id="@item.not_id" numero="@item.not_numero.ToString().PadLeft(6, '0')" class="btn btn-danger cancelarnota" alt="Cancelar Nota" title="Cancelar Nota" style="border-radius: 128px;padding: 3px 10px;font-size: 14px;"><i class="fa fa-exclamation"></i></a>
                    </td>
                </tr>
                totalbruto = totalbruto + item.not_totalbruto;
                totalliquido = totalliquido + item.not_totalliquido;
            i++;
        }
        <tr>
            <td colspan="5" class="text-right"><b>Total: </b></td>
            @if (empresa.confCom_calcularTributos)
            {
                <td class="text-right">R$ @string.Format("{0:0,0.00}", pis) </td>
                <td class="text-right">R$ @string.Format("{0:0,0.00}", confis) </td>
                <td class="text-right">R$ @string.Format("{0:0,0.00}", cssl) </td>
                <td class="text-right">R$ @string.Format("{0:0,0.00}", irrf) </td>

            }
            <td class="text-right">R$ @string.Format("{0:0,0.00}", totalbruto) </td>
            <td class="text-right">R$ @string.Format("{0:0,0.00}", totalliquido) </td>
            <td colspan="100"></td>
        </tr>
    </tbody>
</table>

<script>
    $(function () {
        var panels = $('.vote-results');
        panels.hide();
        $(".detalhespagamento").click(function () {

            var dataFor = $(this).attr('data-for');
            var id = $(this).attr('id');
            var idFor = $(dataFor);
            var currentButton = $(this);

            EnviarRequisicao("/Faturamento/RetornoBoletoBancoDados", { id: id }, "GET", function (dados) {
                if (dados != null) {
                    if (dados.Tipo == "Pago") {
                        

                        $("#baixamanualidcliente").val(dados.Dados.retBol_id);
                        $("#nomepagadormodal").html(dados.Dados.retBol_pagador);

                        $("#formapagamentomodal").show();
                        $("#formapagamento").hide();

                        if (dados.Dados.retBol_formapagamento == "TFB")
                            $("#formapagamentomodal").html("TRANSFERÊNCIA");
                        if (dados.Dados.retBol_formapagamento == "BOL")
                            $("#formapagamentomodal").html("BOLETO");
                        if (dados.Dados.retBol_formapagamento == "DEP")
                            $("#formapagamentomodal").html("DEPÓSITO");

                        $("#datavencimentomodal").html(FormatarData(dados.Dados.retBol_vencimento));
                        $("#dataliquitadomodal").html(FormatarData(dados.Dados.retBol_dataLiquidado));
                        $("#valortitulomodal").html('R$ ' + dados.Dados.retBol_valorTitulo.toFixed(2));

                        $("#jurosmodal").show();
                        $("#jurosparamento").hide();

                        $("#jurosmodal").html('R$ ' + dados.Dados.retBol_ociliacao.toFixed(2));
                        $("#totapagomodal").html('R$ ' + dados.Dados.retBol_valorCobrando.toFixed(2));
                        $("#comentarios").val(dados.Dados.retBol_comentarios);
                        idFor.slideToggle(400, function () {
                            if (idFor.is(':visible')) {
                                currentButton.html('Hide Results');
                            }
                            else {
                                currentButton.html('View Results');
                            }
                        });

                        $("#btnSalvarComentarios").show();
                        $("#btnBaixaManual").hide();
                    }
                    else {
                        
                        $("#baixamanualidcliente").val(dados.Dados.not_numero);
                        $("#nomepagadormodal").html(dados.Cliente.cli_razaoSocial);

                        $("#formapagamentomodal").hide();
                        $("#formapagamento").show();
                        $("#datavencimentomodal").html(FormatarData(dados.Dados.not_dtVencimento));
                        $("#dataliquitadomodal").html("--");
                        $("#valortitulomodal").html('R$ ' + dados.Dados.not_totalliquido.toFixed(2));

                        $("#jurosmodal").hide();
                        $("#jurosparamento").show();

                        $("#totapagomodal").html('R$ ' + dados.Dados.not_totalliquido.toFixed(2));
                        $("#comentarios").val('');
                        $("#btnSalvarComentarios").hide();
                        $("#btnBaixaManual").show();
                    }
                }
                else {

                }

            }, false);


            
        });

        $(".cancelarnota").click(function () {
            var id = $(this).attr('id');
            var numero = $(this).attr('numero');
            Confirmacao("Cancelar Nota " + numero, "Tem certeza que deseja cancelar a nota de numero: " + numero, function (res) {
                if (res) {
                    EnviarRequisicao("/Faturamento/CalcelarNota", { not_id: id }, "GET", function (dados) {
                        Alerta("Cancelar Nota" + numero, "Nota cancelada com sucesso!", function () {
                            window.location = "/Faturamento";
                        })
                    });
                }
            });
        });
    })

    function marcardesmarcar() {
        var check = $("#todos").prop("checked");
        $(".itemselecionados").each(function () {
            //if ($(this).prop("checked")) {
            $(this).prop("checked", check);
            //} 
            //else {
            //    $(this).prop("checked", true);
            //}
        });
    }

    function FormatarData(data) {
        data = new Date(parseInt(data.substr(6)));
        return ("0" + data.getDate()).slice(-2) + "/" + ("0" + (data.getMonth() + 1)).slice(-2) + "/" + data.getFullYear();
        //data.getFullYear() + "-" +
        //              ("0" + (data.getMonth() + 1)).slice(-2) + "-" +
        //              ("0" + data.getDate()).slice(-2) + " " + data.getHours() + ":" +
        //              data.getMinutes();
    }

</script>