@model List<Portal.BE.ClienteBE>

@{ 
    var i = 0;
    var parcelas = "";
    var valor = "0";
    var totalservicos = "0";
    var parcelado = "";
    var propor = "";
    decimal totalservicoscliente = 0;
    decimal total = 0;
    var cor = "";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome Fantasia</th>
            <th>Razão Social</th>
            <th style="width: 120px">Qtde. Serviços</th>
            <th style="width: 100px; text-align: right">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Servicos.Count > 0)
            {
                if (i % 2 == 0) { cor = "background-color: rgba(0,0,0,.05);"; } else { cor = ""; }
                valor = string.Format("{0:0,0.00}", (from x in item.Servicos select x.servCli_valor).Sum());
                totalservicos = (from x in item.Servicos select x).Count().ToString();
                i++;
                totalservicoscliente = 0;
                <tr class="accordion-toggle" style="@cor" data-toggle="collapse" data-href="#@i">
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.cli_nomeFantasia</a></td>
                    <td><a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.cli_razaoSocial</a></td>
                    <td>@totalservicos</td>
                    <td class="text-right">R$ @valor</td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:0px">
                        <div id="@i" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <th>Parcelado</th>
                                            <th>Qtde. Parc.</th>
                                            <th>Proporcional</th>
                                            <th class="text-right">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemSer in item.Servicos)
                                        {
                                            total = total + itemSer.servCli_valor;
                                            totalservicoscliente = totalservicoscliente + itemSer.servCli_valor;
                                            if (itemSer.servCli_cobrarPorpor == 3) { propor = "Mês Atual"; } else if (itemSer.servCli_cobrarPorpor == 2) { propor = "Mês Anterior"; } else { propor = "Não"; }
                                            parcelado = itemSer.servCli_parcelado ? "Sim" : "Não";

                                            <tr>
                                                <td>@itemSer.servCli_nome</td>
                                                <td>@itemSer.servCli_descricao</td>
                                                <td>@parcelado</td>
                                                <td>@itemSer.servCli_parceladoQtd</td>
                                                <td>@propor</td>
                                                <td class="text-right">R$ @string.Format("{0:0,0.00}", itemSer.servCli_valor)</td>
                                            </tr>

                                        }
                                        <tr>
                                            <td colspan="4" style="text-align:right"><a href="@Url.Content("~/ClienteServicos/?cli_id=" + item.cli_id)" class="btn btn-success text-right" alt="Adicionar serviços" title="Adicionar serviços" style="border-radius: 100px; padding: 1px 3px 1px 7px;"><i class="fa fa-plus-circle"></i>&nbsp;</a></td>
                                            <td class="text-right"><b>Total: </b></td>
                                            <td class="text-right">R$ @string.Format("{0:0,0.00}", totalservicoscliente) </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        }
        <tr>
            <td colspan="3" class="text-right"><b>Total: </b></td>
            <td class="text-right">R$ @string.Format("{0:0,0.00}", total) </td>
        </tr>
    </tbody>
</table>
            @*@foreach (var item in Model)
            {
                if (item.Servicos.Count > 0)
                {
                <div class="col-sm-12">
                    <div class="accordion-heading country">
                        <div class="col-sm-8">
                            <a class="accordion-toggle" data-toggle="collapse" href="#@i">@item.cli_nomeFantasia</a>
                        </div>
                        <div class="col-sm-2 text-right">
                            @totalservicos
                        </div>
                        <div class="col-sm-2 text-right">
                            R$ @valor
                        </div>
                    </div>
                    <div id="@i" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Parcelado</th>
                                        <th>Quantidade</th>
                                        <th>Proporcional</th>
                                        <th>Valor</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemSer in item.Servicos)
                                    {
                                        <tr>
                                            <td>@itemSer.servCli_nome</td>
                                            <td>@itemSer.servCli_descricao</td>
                                            <td>@itemSer.servCli_parcelado</td>
                                            <td>@itemSer.servCli_parceladoQtd</td>
                                            <td>@itemSer.servCli_cobrarPorpor</td>
                                            <td>@itemSer.servCli_valor</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                }
            }*@
