@model List<Portal.BE.Chamado.PrioridadeBE>


<div class="col-12">
    <div class="col-sm-3">
        <button class="btn btn-info" id="adicionaritens" style="margin-top:20px; margin-bottom: 20px" type="button"><i class="fa fa-search"></i> Adicionar</button>
    </div>
</div>



@{
    WebGrid objWebGrid = new WebGrid(Model, rowsPerPage: 30, canPage: true);
}
@objWebGrid.GetHtml(
tableStyle: "table table-striped table-bordered",
footerStyle: "Grid-Footer",
mode: WebGridPagerModes.All,
firstText: "Primeiro",
previousText: "Anterior",
nextText: "Proximo",
lastText: "Ultimo",
columns:
    objWebGrid.Columns
    (
        objWebGrid.Column(columnName: "cPr_id", header: "ID"),
        objWebGrid.Column(columnName: "cPr_nome", header: "Descrição"),
        objWebGrid.Column(columnName: "cPr_data", header: "Data"),
        objWebGrid.Column(format:@<text>
            <div class="text-right" style="width:55px"><a href="javascript:" style="padding: 0px 18px !important;" class="btn btn-info btn-sm editarconfiguracao" name="@item.cPr_nome" id="@item.cPr_id"><i class="fa fa-refresh"></i>&nbsp;Alterar</a></div>
        </text>),
        objWebGrid.Column(format:@<text>
            <div class="text-right" style="width:55px"><button type="button" style="padding: 0px 18px !important;" class="btn btn-danger btn-sm deletarconfiguracao" name="@item.cPr_nome" id="@item.cPr_id"><i class="fa fa-trash-o"></i>&nbsp;Delete</button></div>
        </text>)
    )

)


<script>
    $(function () {
        $("#adicionaritens").click(function () {
            AbreFormulario('', "Adicionar Prioridade", "");
        })

        $(".editarconfiguracao").click(function () {
            var nome = $(this).attr('name');
            var id = $(this).attr('id');

            AbreFormulario(id, "Alterar Prioridade", nome);
        });

        $(".deletarconfiguracao").click(function () {
            var id = $(this).attr('id');
            var name = $(this).attr('name');
            Confirmacao("Atenção", "Tem certeza que quer remover o item " + name, function (retorno) {
                if (retorno){
                    $.ajax({
                        url: '/Chamado/Prioridade/Delete',
                        data: { cPr_id: id },
                        type: 'POST',
                        beforeSend: function () {
                        },
                        success: function (retornoEndereco) {
                            Alerta("Delete efetuado com sucesso", function () {
                                window.location = "/Chamado/Prioridade";
                            })
                        },
                        complete: function () {
                        }
                    });
                }
                else
                    Alerta('Cancelado', 'Operação cancelada', function () { });
            })
        })
    })

    function AbreFormulario(id, titulo, valor) {
        $.confirm({
            title: titulo,
            content: '' +
            '<form action="" class="formName">' +
            '<div class="form-group">' +
            '<label>Descrição</label>' +
            '<input type="text" placeholder="Descrição" id="descricao" class="descricao form-control" value="' + valor + '" required />' +
            '</div>' +
            '</form>',
            buttons: {
                formSubmit: {
                    text: 'Enviar',
                    btnClass: 'btn-blue',
                    action: function () {
                        var descricao = this.$content.find('.descricao').val();
                        if (!descricao) {
                            $.alert('Campo Descrição obrigatório');
                            return false;
                        }
                        $.ajax({
                            url: '/Chamado/Prioridade/Insert',
                            data: { cPr_nome: descricao, cPr_id: id },
                            type: 'POST',
                            beforeSend: function () {
                            },
                            success: function (retornoEndereco) {
                                Alerta("Alteração efetuado com sucesso", function () {
                                    window.location = "/Chamado/Prioridade";
                                })
                            },
                            complete: function () {
                            }
                        });
                    }
                },
                Cancelar: function () {
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    }
</script>
